Repository tjcsl/ion, pull requests merged in 2021-03, with the labels that each got.

#1103 fix(events): fix home template
  intranet/templates/events/event.html
Labels: area/events, type/bug

#1104 fix(announcements): fix send_all filtering
  intranet/apps/announcements/notifications.py
Labels: area/announcements, type/bug

#1105 fix(bus): fix changeover hour identification
  intranet/apps/bus/consumers.py
Labels: area/bus, type/bug

#1108 fix(eighth): fix disappearing name on take attendance view
  intranet/static/css/page_base.scss
  intranet/templates/eighth/take_attendance.html
Labels: area/eighth, area/eighth-admin, type/bug

#1114 build(deps): bump dependencies
  Ion.egg-info/requires.txt
  docs/rtd-requirements.txt
  requirements.txt
Labels: dependencies

#1115 fix(hybrid): fix eighth sponsor widget
  intranet/static/css/dashboard.widgets.scss
Labels: area/eighth, type/bug, type/enhancement

#1118 fix(hybrid): fix future_block out of range error
  intranet/apps/eighth/views/signup.py
Labels: area/eighth, hybrid, type/bug
